*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 0;
}
.menu{
    background-color: #ffffff;
    font-family: 'Inter';
    font-style: normal;
    line-height: normal;
}
.container{
    max-width: 1440px;
    padding: 0px;
    margin: 0 auto;
}
.menu__inner{
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    display: flex;
    align-items: center;
}
.header-left{
    gap: 149px;
}
.header-right{
    gap: 50px;
}
.logo{
    margin-left: 51px;
}
.page{
    display: flex;
    list-style: none;
    gap: 60px;
}
.page li a{
    text-transform: uppercase;
    color:rgb(1, 70, 55);
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}
.kontakt_header {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-left: 50px;
}
.phone {
    display: flex;
    align-items: center; 
    margin-bottom: 3px; 
}
.email_header {
    color:rgb(1, 70, 55);
    text-align: right; 
    font-size: 15px;
    font-weight: 400;
    width: 100%; 
}
.phone_header{
    color:rgb(1, 70, 55);
    margin-left: 15px;
    font-size: 20px;
    font-weight: 600;
}
.button_cooperate{
    margin-right: 51px;
}
.custom-button {
    display: inline-block;
    position: relative; 
    padding: 26px 39px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFF;
    border: 1px solid transparent; 
    background: #014637;
    cursor: pointer; 
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
.custom-button::before {
    content: ''; 
    position: absolute;
    inset: 3px 5px;
    border: 1px solid #FFF; 
    pointer-events: none; 
    transition: border-color 0.3s ease; 
}
.custom-button:hover {
    background-color: #FFF; 
    color: #014637; 
    border: 1px solid #014637; 
}
.custom-button:hover::before {
    border-color: #014637; 
}

.block_reliable_supplier {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), /* Полупрозрачный слой */
        url(../img/UAZ_fon11.png); /* Основной фон */
    background-size: cover;
    min-height: 1100px;
    background-repeat: no-repeat;
}

.green_block {
    max-width: 800px;
    min-height: 1100px;
    background: rgba(1, 70, 55, 0.55);
}