*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden;
    scroll-behavior: smooth; /*Плавная прокрутка */
}
h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 0;
}
.menu{
    background-color: #ffffff;
    font-family: 'Inter';
    font-style: normal;
    line-height: normal;
}
.container{
    max-width: 1440px;
    padding: 0px;
    margin: 0 auto;
}
.menu__inner{
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    display: flex;
    align-items: center;
}
.header-left{
    gap: 129px;
}
.header-right{
    gap: 50px;
}
.page{
    display: flex;
    list-style: none;
    gap: 60px;
}
.page li a{
    text-transform: uppercase;
    color:rgb(1, 70, 55);
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}
.kontakt_header {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-left: 50px;
}
.phone {
    display: flex;
    align-items: center; 
    margin-bottom: 3px; 
}
.email_header {
    color:rgb(1, 70, 55);
    text-align: right; 
    font-size: 15px;
    font-weight: 400;
    width: 100%; 
}
.phone_header{
    color:rgb(1, 70, 55);
    margin-left: 15px;
    font-size: 20px;
    font-weight: 600;
}
.custom-button {
    display: inline-block;
    position: relative; 
    padding: 26px 39px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFF;
    border: 1px solid transparent; 
    background: #014637;
    cursor: pointer; 
    transition: background-color 0.3s ease, border-color 0.3s ease;
    
}
.custom-button::before {
    content: ''; 
    position: absolute;
    inset: 3px 5px;
    border: 1px solid #FFF; 
    pointer-events: none; 
    transition: border-color 0.3s ease; 
}
.custom-button:hover {
    background-color: #FFF; 
    color: #014637; 
    border: 1px solid #014637; 
}
.custom-button:hover::before {
    border-color: #014637; 
}


/* Стили для бургера в адаптивной версии */
.burger-menu {
    display: none; 
}

.burger-icon {
    cursor: pointer;
}

/* Стили для открываемой панели */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    overflow-y: auto;
    /* background-attachment: fixed; */
}

.sidebar {
    position: fixed;
    
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color:#FFF ;
    padding: 60px 30px 30px 30px;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    transition: transform 0.3s ease-in-out; /* Плавная анимация */
    transform: translateX(100%); /* Начальное положение */
}

/* При добавлении класса active к overlay */
.overlay.active .sidebar {
    transform: translateX(0); /* Меню выдвигается */
}



.close-btn {
    position: absolute; 
    top: 10px;
    right: 10px; 
    color: #aaa;
    font-size: 24px; 
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.close-btn:hover{
    color: #000000;
}

.sidebar-menu {
    list-style: none;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    margin-bottom: 20px;
}

.sidebar-menu li a {
    text-decoration: none;
    color: #014637;
    font-size: 22px;
    font-weight: 700;
}
.overlay .kontakt_header{
    margin: 0;
}
.overlay .kontakt_header .contact-info-container .phone_header,
.overlay .kontakt_header .contact-info-container .email_header {
    margin: 0 0 10px 0;
    padding: 0;
    text-align: left; 
}

.overlay .kontakt_header .button_cooperate {
    margin-top: 30px; 
}



@media (max-width: 1500px) {
    .menu__inner {
        padding: 0 20px;
    }
    .header-left{
        gap: 90px;
    }
    .header-right{
        gap: 30px;
    }
    .page{
        gap: 50px;
    }
    .kontakt_header {
        margin-left: 40px;
    }
    .phone_header{
        font-size: 18px;
    }
}
/* Адаптивные стили (меньше 1200px) */
@media (max-width: 1200px) {
    .pages,
    .header-right {
        display: none;
    }

    .burger-menu {
        display: block; 
    }

    .logo {
        margin: 0 20px; 
    }

    .overlay {
        display: none; 
    }

    .overlay.active {
        display: block; 
    }

}

/*Надёжный поставщик*/
.reliable_supplier{
    background-image: url(../img/fon/UAZ_fon_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 1200px;
}
.reliable_supplier .container{
    font-family: 'Inter';
    font-style: normal;
    color: #FFF;
}
.reliable_text{
    padding: 55px 0 0 136px;
}
.avtoliga {
    font-family: 'BOWLER';
    font-size: 75px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding: 180px 0 0 136px;
}
.reliable_supplier_text {
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
    line-height: 125px;
    text-transform: uppercase;
}
.original_parts {
    color: #FFF;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px; 
    padding: 100px 0 0 136px;
    max-width: 800px;
}
.reliable_supplier .button_cooperate{
    padding: 110px 0 0 164px;
}
.more {
    padding: 23px 109px;
    background: #FFF;
}
.reliable_supplier .button_cooperate a{
    text-decoration: none;
    color: #014637;
}
.more::before {
    border: 1px solid #014637; 
}
.reliable_supplier .button_cooperate a:hover {
    background-color: #014637; 
    color: #FFF; 
    border: 1px solid #FFF; 
}
.more:hover::before {
    border-color: #FFF; 
} 
.more:hover a {
    color: #FFF; /* Цвет текста при наведении */
}

/*мышка*/
.cont{
    position:relative;
    top:175px;
}
.mouse {
    border: 2px solid #FFF;
    border-radius: 13px;
    height: 44px;
    margin: 0 auto;
    width: 28px;
}
.mouse span {
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: scroll;
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid transparent;
    border-radius: 4px;
    display: block;
    height: 6px;
    margin: 6px auto;
    width: 2px;
}
@keyframes scroll {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

/*О нас*/
.about_us{
    background-image: url(../img/fon/About_us_fon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-style: normal;
    line-height: normal;
}
.title_text{
    color: #014637;
    font-family: 'BOWLER';
    font-size: 70px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 100px 0 0 146px;
}
.about_us_text{
    width: 1000px;
    color: #014637;
    text-align: justify;
    font-family: 'Inter';
    font-size: 25px;
    font-weight: 400;
    padding: 69px 0 0 146px;
}
.about_us .container{
    display: flex;
    justify-content: center;
}
.ticker{ 
    position: relative;
    z-index: 1;
    padding: 150px 0 116px 0;
}
.scrolling-text {
    display: flex;
    overflow: hidden;
    white-space: nowrap; 
    font-family: 'BOWLER';
    font-size: 90px;
    font-weight: 400;
    text-transform: uppercase;
    color: transparent; 
    -webkit-text-stroke: 1px #014637; 
}
.avtoliga_ticker1 {
    animation: marquee1 60s infinite linear;
    animation-delay: -60s;
}
.avtoliga_ticker2 {
    animation: marquee2 60s infinite linear;
    animation-delay: -30s;
}
@keyframes marquee1 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes marquee2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
}

/*Наши преимущества*/
.title_header{
    color: #014637;
    font-family: 'BOWLER';
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding: 71px 0 0 146px;
}
.title_header2{
    padding-top: 10px;
}
.advantages {
    display: flex;
    justify-content: center;
    gap: 50px; 
    margin: 99px 0 150px 0;
}
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 3px solid #2c524a; 
    padding-left: 50px; 
    font-style: normal;
    line-height: normal;
}
.section_book{
    padding-left: 0px;
}
.icon_section img {
    margin-bottom: 40px;
}
.title_section {
    color: #014637;
    font-family: 'Inter';
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.text_section {
    color: #014637;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 300;
    max-width: 340px;
}
.section_book .text_section{
    max-width: 339px;
}
.advantages .section:first-child {
    border-left: none; 
}
/*Обсудите свои вопросы*/
.discuss_your_questions{
    background-image: url(../img/fon/UAZ_fon_publicity.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 1100px;
}
.discuss{
    display: flex;
    justify-content: center;
    gap: 74px;
    font-style: normal;
    line-height: normal;
    padding-top: 229px;
    align-items: center;
}

.discuss_title{
    color: #FFF;
    font-family: 'Inter';
    font-size: 55px;
    font-weight: 800;
    text-transform: uppercase;
}
.questions2{
    font-size: 42px;
    padding-top: 15px;
}
.discuss_text{
    color: #FFF;
    font-family: 'Inter';
    font-size: 30px;
    font-weight: 400;
    width: 520px;
    padding-top: 65px;
}
.online{
    font-size: 22px;
    width: 561px;
}
.discuss_your_questions .button_discuss{
    padding-top: 65px;
} 
.discuss_button{
    padding: 26px 26px;
    color: #014637;
    background: #FFF;
    font-size: 22px;
    font-weight: 400;
}
.discuss_button::before {
    border: 1px solid #014637; 
}
.discuss_button:hover {
    background-color: #014637; 
    color: #FFF; 
    border: 1px solid #FFF; 
}
.discuss_button:hover::before {
    border-color: #FFF; 
}
.gears2 {
    position: absolute;
    right: 15%;
    top: 397%;
}

/*Способы доставки*/
.delivery-methods {
    font-style: normal;
    line-height: normal;
}
.methods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 0 161px 0;
}
.method {
    width: calc(50% - 20px);
    margin-bottom: 40px;
    text-align: center;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    
}
.method-title {
    color: #014637;
    font-family: 'Inter';
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    align-self: center;
    margin-bottom: 25px;
}
.method-icon {
    margin: 0 auto 20px;
}
.method-description {
    color: #014637;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 300;
    width: 320px;
    margin-bottom: 75px;
}
/*Наши запчасти*/

.our_spares {
    background-image: url(../img/fon/spares.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.uazik {
    position: relative;
    text-align: center;
    font-style: normal;
    line-height: normal;
}
.part {
    position: absolute;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}
.part_icon{
    margin: 10px 0;
}
.title_part_text{
    color: #014637;
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}
.part_text{
    color: #014637;
    text-align: center;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 300;
    max-width: 330px;
}

.engine {
    top: 15%;
    left: 15%;
}

.electrics {
    top: 45%;
    left: 5%;
}

.suspension {
    bottom: 8%;
    left: 18%;
}

.transmission {
    bottom: 6%;
    left: 48%;
}

.brakes {
    bottom: 27%;
    right: 5%;
}

.bodywork {
    top: 23%;
    right: 5%;
}

.additional_equipment{
    top: 7%;
    right: 30%;
}

/*Получите персональную подборку запчастей*/
.spare_parts_selection{
    background-image: url(../img/fon/UAZ_Spare_Parts_Selection.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 1100px;
    position: relative;
}
.spare_parts{
    font-style: normal;
    line-height: normal;
    padding-top: 150px;
    padding-left: 115px;
}

.spare_parts_title{
    color: #014637;
    font-family: 'Inter';
    font-size: 45px;
    font-weight: 800;
    text-transform: uppercase;
}
.questions2{
    padding-top: 10px;
}
.spare_parts_text{
    color: #014637;
    font-family: 'Inter';
    font-size: 25px;
    font-weight: 400;
    width: 600px;
    padding-top: 50px;
}
.spare_parts_right{
    background-color: #fff;
    border-radius: 50px; 
    padding: 53px 33px; 
    max-width: 750px; 
}
.spare_parts_selection .button_spare_parts{
    padding-top: 65px;
    text-align: center;
} 
.spare_parts_button{
    padding: 26px 26px;
    color: #FFF;
    background: #014637;
    font-size: 20px;
    font-weight: 400;
}
.spare_parts_button::before {
    border: 1px solid #FFF; 
}
.spare_parts_button:hover {
    background-color: #FFF; 
    color: #014637; 
    border: 1px solid #014637; 
}
.spare_parts_button:hover::before {
    border-color: #014637; 
}

/*Контакты*/
.contact_block{
    background-image: url(../img/fon/Map.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.contacts_info{
    padding: 200px 0 119px 126px;
}
.contact_phone_email{
    padding-top: 40px;
}
.contact_phone_email .email{
    padding-top: 15px;
}
.contact{
    font-style: normal;
    line-height: normal;
    background: #014637;
    max-width: 540px;
    padding: 49px 0 97px 73px;
}
.contact_title{
    color: #FFF;
    font-family: 'BOWLER';
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
}
.contact_text{
    color: #FFF;
    font-family: 'Inter';
    font-size: 25px;
    font-weight: 300;
}
.contact_text_title{
    color: #FFF;
    font-family: 'Inter';
    font-size: 25px;
    font-weight: 800;
    padding-top: 60px;
}
.adress{
    padding-top: 30px;
}

/*footer*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    background-color: #014637;
}
.footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Разбиваем контейнер на 4 колонки */
    gap: 40px;
    /* max-width: 1200px; */
    font-style: normal;
    line-height: normal;
}
.footer .menu {
    background-color: #014637;
}
.footer .menu ul {
    list-style: none;
}
.footer .menu li {
    margin-bottom: 30px;
}
.footer .menu a {
    color: #FFF;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.contact-info .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.contact-info img {
    margin-right: 25px;
}
.contact_info_phone{
    color: #FFF;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.contact_info_text{
    color: #FFF;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 400;
    text-transform: lowercase;
}
.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px;
}
.social-icons {
    display: flex;
    gap: 25px; 
}
.contact_button{
    padding: 17px 72px;
    color: #014637;
    background: #FFF;
    font-size: 15px;
    font-weight: 400;
}
.contact_button::before {
    border: 1px solid #014637; 
}
.contact_button:hover {
    background-color: #014637; 
    color: #FFF; 
    border: 1px solid #FFF; 
}
.contact_button:hover::before {
    border-color: #FFF; 
}

/* Всплывающее окно */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    position: absolute;
    margin: auto; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -30%) scale(0.9);
    opacity: 0;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    /* animation-duration: 0.4s;
    animation-timing-function: ease-out; */
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease-out, opacity 0.4s ease-out; /* Плавный переход */
}

/* Анимация появления */
.modal-content.slide-in {
    opacity: 1; /* Полная видимость */
    transform: translate(-50%, -50%) scale(1); /* Нормальный масштаб */
}

/* Анимация исчезновения */
.modal-content.slide-out {
    opacity: 0; /* Полная прозрачность */
    transform: translate(-50%, -30%) scale(0.9); /* Возвращение к начальному масштабу */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Форма */
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Форма */
form input[type="text"],
form input[type="email"] {
    width: 100%;
    padding: 25px; 
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 50px;
    font-family: 'Inter', sans-serif; 
    font-size: 16px;
    font-weight: 400;
}

form textarea {
    width: 100%;
    padding: 15px; /* Увеличить padding для более высокого вида */
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    height: 50px; /* Фиксированная высота */
}

.submit-btn {
    background-color: #0d4726;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    height: 50px; 
    width: 100%; 
    margin: 20px 0 20px 0;
}
.submit-btn:hover {
    background-color: #0b3e1c;
}

.title_model{
    color: #014637;
    font-family: 'Bowler';
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.subheading_model{
    color: #4a5755;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 200;
    padding: 20px 0 40px 0;
}
.text_model{
    color: #014637;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 10px;
}
.contactForm{
    text-align: left;
}

/* Стили для уведомлений */
.notification {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px; /* Увеличиваем padding для лучшего отображения */
    text-align: center;
    z-index: 9999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Inter';
    line-height: normal;
    width: 400px; /* Фиксированная ширина для лучшего контроля */
    border-radius: 8px; /* Добавляем скругление углов */
}

.title_notification {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px; /* Добавляем отступ снизу */
}

.text_notification {
    font-size: 17px;
    font-weight: 100;
    padding: 15px;
    background-color: #014637;
    color: #FFF;
    border-radius: 4px; 
    margin-top: 20px; 
    margin-bottom: 20px;
}

.success {
    background-color: #fff;
    color: #014637;
}

.error {
    background-color: #fff;
    color: #014637;
}
.error .text_notification{
    background-color: #94220e;
}

.close-notification {
    position: absolute; 
    top: 10px;
    right: 10px; 
    color: #aaa;
    font-size: 24px; 
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.close-notification:hover {
    color: #000000;
}